# Archivos de configuración locales
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Carpetas de compilación
/build
/captures
.externalNativeBuild
.cxx

# Keystore files (Seguridad)
*.jks
*.keystore